<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://www.gstatic.com/cv/js/sender/v1/cast_sender.js?loadCastFramework=1"></script>
  <title>Test</title>
  <style>
  </style>
</head>
<body>
  <div style="float: right;">
    <span>Launch G-Cast</span>
    <google-cast-launcher style="width: 5em; display: inline-block;"></google-cast-launcher>
  </div>
  <div>
    <input id="bili_addr" type="text">
    <button id="play_btn">GO</button>
  </div>
</body>
<script>
window['__onGCastApiAvailable'] = function(isAvailable) {
  if (isAvailable) {
    cast.framework.CastContext.getInstance().setOptions({
      receiverApplicationId: chrome.cast.media.DEFAULT_MEDIA_RECEIVER_APP_ID,
      autoJoinPolicy: chrome.cast.AutoJoinPolicy.ORIGIN_SCOPED
    });
    chrome.cast.requestSession((e) => {window.session = e;})
  }
};
document.addEventListener('DOMContentLoaded', () => {
  const $ = s => document.querySelector(s);
  $('#play_btn').addEventListener('click', (e) => {
    console.log($('#bili_addr').value);
    e.preventDefault();
  })
});
</script>
</html>